# Database Internal Config
DB_USER= #database username
DB_PASSWORD= #database password
DB_NAME= #data base name for the current project

# App Connection String (Notice it uses 'db' as the hostname)
DB_URL= #the url which include the db engine username and password with the database name for the project.
ACCESS_SECRET_KEY= #secret key for access token 
REFRESH_SECRET_KEY= #secret key for refresh token

# Secrets & Other Confi
ALGORITHUM= #token hashing algorithum
TOKEN_EXPIRY_DATE= #token expiry date
UPLOAD_DIR= #folder names for upload files
LOGFILEDIR=#folder name for the system to store log files
ORIGIN= #the origin or the url of the system